<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ffyc.myfirstboot.dao.BuildingDao">

    <insert id="addBuilding" parameterType="building">
        insert into building(name, height,sex, operate_time)
        values (#{name}, #{height},#{sex}, now())
    </insert>
    <update id="updateBuilding" parameterType="building">
        update building
        set name=#{name},
            sex=#{sex},
            height=#{height},
            operate_time=now()
        where id = #{id}
    </update>
    <delete id="deleteBuilding">
        delete
        from building
        where id = #{buildingId};
    </delete>

    <select id="getBuildingById" resultType="Building">
        select id, name, height, sex
        from building
        where id = #{buildingId}
    </select>
    <select id="getBuildingList" parameterType="building" resultType="Building">
        SELECT * FROM building
        <where>
            <if test="name!=''">
                name=#{name}
            </if>
            <if test="sex!=''">
                sex=#{sex}
            </if>
        </where>
    </select>
</mapper>